<%= form_with model:@user do |f| %>

  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>


  <div>
    <%= f.label :image %><br>
    <%= f.file_field :image, accept: 'image/png, image/gif, image/jpeg, image/jpg'%>
  </div>


  <div>
    <%= f.submit %>
  </div>

<% end %>